

.productField {
    position: static;
    margin: 10px;
    text-align: left;
}

.productBox {
    height: fit-content;
    width: 600px;
    background-color: grey;
    border: solid;
    border-width: 1px;
    margin: 20px;
    padding: 5px;
}

.productItem {
    color: white;
    margin-left: 10px;
}

.productAmmount {
    float: right;
    margin: 5px;
}

.deleteIcon {
    position: relative;
    display: inline-block;
    left: 10px;
    bottom: -10px;
    
}